<%= form_with(model: activity) do |form| %>
  <% if activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
        <% activity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
    <%= form.label :name%>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :total_cost %>
    <%= form.text_field :total_cost %>
  </div>

  <div class="field">
    <%= form.label :activity_type %>
    <%= form.select(:type_activity, Activity.type_activities.keys.map {|type_activity| [type_activity.titleize,type_activity ]}) %>
  </div>

  <div class="field">
    <%= form.label :initial_date %>
    <%= form.datetime_select :initial_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.datetime_select :end_date %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

<!--  <div class="field">
    <%= form.label :users_id %>
    <%= form.collection_select :users_id, User.order(:id),:id, :username %> <br>
  </div>-->
  



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
