<%= form_with(model: activity_participant) do |form| %>
  <% if activity_participant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity_participant.errors.count, "error") %> prohibited this activity_participant from being saved:</h2>

      <ul>
        <% activity_participant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Participation_type%>
    <%= form.text_field :participation_type %>
  </div>

  <div class="field">
    <%= form.label :Contribution%>
    <%= form.text_field :contribution %>
  </div>

  <div class="field">
    <%= form.label :users_id %>
    <%= form.collection_select :users_id, User.order(:id),:id, :username %> <br>
  </div>
  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
