<p id="notice"><%= notice %></p>

<p>
  <strong>Participación:</strong>
  <%= @activity_participant.participation_type%>
</p>

<p>
  <strong>Participación:</strong>
  <%= @activity_participant.contribution%>
</p>




<%= link_to 'Edit', edit_activity_participant_path(@activity_participant.activity) %> |
<%= link_to 'Back', activity_participants_path %>
