<p id="notice"><%= notice %></p>

<p>
  <strong>Participacion:</strong>
  <%= @activity_note.participation_type%>
</p>

<p>
  <strong>Contribución:</strong>
  <%= @activity_note.contribution%>
</p>

<%= link_to 'Edit', edit_activity_participant_path(@activity_participant) %> |
<%= link_to 'Back', activity_participants_path %>
